/* CSS Document*/

.jg_nav {
    background: #2B8E3D;
}

.jg_nav1_menu {
    background: #47AC5A;
}

.jg1_info1 {
    background: #2B8E3D;
}

.jg1_btn {
    background: #2B8E3D;
}

.co2_bm_n1 {}

.jg_info_b {
    background: #2B8E3D;
}

.co2_tab_t ul li.on {
    background: #2B8E3D;
}

.co2_tab_t,
.jg_adtop {
    border-bottom: 2px solid #2B8E3D;
}

.hd_hong {
    background: #2B8E3D;
}

.xly_se_bj {
    background: #2B8E3D;
}

.xly_qs_bj {
    background: #47AC5A;
}

.xly_se_bj a s {
    border-color: transparent transparent transparent #2B8E3D;
}

.xly_qs_color {
    color: #47AC5A
}

.xly_se_color {
    color: #2B8E3D
}